
  <header class="head-container">
<div class="centered">
<div class="site-branding">
  <h1 class="site-title">Weather App</h1>
</div>
</div>
</header>
<main class="main-area">

  <div class="centered">

    <section class="cards">

      <article class="card">
        <a href="weather">
          <figure class="thumbnail">
          <img src="https://cdn.dribbble.com/users/167298/screenshots/3448683/s-vs-n.gif" alt="weather">
          </figure>
          <div class="card-content">
            <h2>Location Detection</h2>
            <p> Detects user location using latitute and longitude</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="weather-search">
          <figure class="thumbnail">
            <img src="https://cdn.dribbble.com/users/562931/screenshots/3206020/sun-dribbble.gif" alt="weather">
          </figure>
          <div class="card-content">
            <h2>Weather Data</h2>
            <p>Searh location based on user input</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
    </section>
  </div>
</main>
      <!-- .card -->

      